* {
    box-sizing: border-box;
}

header {
    text-align: center;
    width: 100vw;
    height: 10vh;
}

.container{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.pc-section, .user-section {
    text-align: center;
    width: 15vw;
    height: 70vh;
}

.result-container{
    align-content: center;
    margin: 150px;
    text-align: center;
    font-size: large;
    width: 40vw;
    height: 40vh;
}

.scoreboard-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 134, 134);
    font-size: xx-large;
    height: 5vh;
}

.inputs {
    display: flex;
    height: 35vh;
    text-align: center;
    align-items: center;
    background-color: rgb(226, 238, 215);
} 

.user-input-container, .round-result-container, .computer-input-container {
    flex: auto;
    padding: 20px;
    width: 10vw;
}

.user-btn, .pc-btn {
    flex:auto;
    margin: 20px;
}

.user-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

