* {
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
}

.pc-section, .user-section {
    text-align: center;
}

.result-container{
    margin: 150px;
    text-align: center;
    font-size: large;
    border: 1px solid black;
}

.scoreboard-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(243, 134, 134);
    font-size: xx-large;
}

.inputs {
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 400px;
    background-color: rgb(226, 238, 215);
    min-width: 700px;
} 

.user-input-container, .round-result-container, .computer-input-container {
    flex: auto;
    padding: 20px;
}

.user-btn, .pc-btn {
    flex:auto;
    margin: 20px;
}

